.calender {
    /* position: absolute; */
    width: 25em !important;
    border-radius: 8px;
    background-color: #dddddd !important;
    overflow: hidden;
    font-size: 0.8em;
    z-index: 5;
}
.calender .clhead {
    background-color: #01396c;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
.calender .clhead > div {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender .clweeks {
    color: #f2fef0;
    background-color: #709cc9;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calender .clweeks > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25% 0px;
    font-weight: bold;
}


.calender .cldays {
    color: #444444;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.calender .cldays > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #888888;
    padding: 25% 5%;
    cursor: pointer;
}
.calender .cldays > div:hover {
    background-color: #eeeeee;
}
.calender .cldays > div:nth-child(1) {
    grid-column: 2/3;
}


.calender .clmonths {
    color: #444444;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.calender .clmonths > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #888888;
    padding: 25% 5%;
    cursor: pointer;
}
.calender .clmonths > div:hover {
    background-color: #eeeeee;
}


.calender button {
    background: none;
    border: none;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    text-transform: uppercase;
}

.datePicker {
    cursor: pointer;
}