@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto-thin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}